:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #1DB954;
    --primary-hover-color: #1ed760;
    --error-color: #e63946;
    --border-radius: 50px;
    --font-family: 'Roboto', sans-serif;
    --base-padding: 1.25rem; /* Use rems for scalability */
    --base-margin: 1.25rem;
    --transition-speed: 0.3s;
    --grid-gap: 1rem;
    --item-ratio: 1; /* 1 for square items */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: var(--base-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed), box-shadow var(--transition-speed);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.container {
    width: 90%;
    max-width: 75rem; /* Use rems for max-width */
    margin: auto;
}

.item {
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.listening-stats-list {
    list-style: none;
    padding: 0;
}

.listening-stats-item {
    background-color: var(--primary-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.time-range-selector {
    margin: var(--base-margin) 0;
}

.time-range-select {
    background-color: #282828;
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.time-range-select:focus {
    outline: none;
    border-color: var(--primary-hover-color);
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    display: none;
}

#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 2rem;
    z-index: 1000;
}

.show-more {
    padding: 8px 16px;
    font-size: 12px;
    align-self: center;
    max-width: 200px; /* Set a maximum width */
}


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); /* Use rems */
    gap: var(--grid-gap);
    margin-bottom: var(--base-margin);
}

/* Ensuring the images and items do not overflow their containers */
.grid-layout .item {
    width: 100%; /* Force the item to occupy full width of the grid column */
    overflow: hidden; /* Prevent images from overflowing */
}

.grid-layout .item img {
    width: 100%;
    height: auto;
    max-height: 100%; /* Set max-height to 100% for consistency */
    object-fit: cover;
    border-radius: var(--border-radius);
}

.summary-tile {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: var(--base-padding);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.summary-tile h3 {
    margin: 0;
    font-size: 1rem;
}

.summary-tile strong {
    font-size: 1.2rem;
}

.summary-tile p {
    font-size: 0.9rem;
}

#logout-button {
    position: fixed;
    bottom: var(--base-padding);
    left: 50%;
    transform: translateX(-50%);
}

/* Responsive Design: Adjust grid item size based on the viewport */
@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /* Smaller min-width */
    }
}

@media (max-width: 480px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); /* Even smaller min-width */
    }
}